<!DOCTYPE html>
<html>
<head>
    <title>Add Politician</title>
</head>
<body>
    <h1>Add Politician</h1>
    <form method="POST">
        <label>Name: <input type="text" name="name" required></label><br>
        <label>Party: <input type="text" name="party" required></label><br>
        <label>Age: <input type="number" name="age" required></label><br>
        <label>Promises Made: <input type="number" name="promises_made" required></label><br>
        <label>Promises Fulfilled: <input type="number" name="promises_fulfilled" required></label><br>
        <label>Promises In Progress: <input type="number" name="promises_in_progress" required></label><br>
        <label>Promises Don't Care: <input type="number" name="promises_dont_care" required></label><br>
        <input type="submit" value="Add Politician">
    </form>
</body>
</html>